{% extends "base.html" %}

{% block content %}
<form method="POST">
<div align="center">
<font size="5" face="georgia" color="blue" >
		<a  href="{% url 'update_animal' animal.id %}">edit</a>
		<a  href="{% url 'animal_delete' animal.id %}">delete</a>
</font>		
</div>
<font size="5" face="georgia" color="black" >
<div align="center" class="content-section">
    {% csrf_token %}
	<div>
	<label>Name:</label>
    {{ animal.name }}
	<div>
</div>	
</font>	
</form>
        <script
   src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
{% endblock %}