{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'animal/style.css' %}">
</head>
<form method="POST" align = "center">
<div class="content-section">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">save</button>
</div>
</form>
        <script
   src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
{% endblock %}