{% extends "base.html" %}

{% block content %}
<form method="POST">
<font size="5" face="georgia" color="blue" >
	<div>
		<a  href="{% url 'update_stock' stock.id %}">edit</a>
		<a  href="{% url 'stock_delete' stock.id %}">delete</a>
	</div>
</font>
<font size="5" face="georgia" color="black" >	
    {% csrf_token %}
	<div>
    {{ stock.medecine }}
	<div>
	<div>
    {{ stock.date_achat }}
	<div>
	<div>
    {{ stock.date_made }}
	<div>
	<div>
    {{ stock.date_expired }}
	<div>
	<div>
    {{ stock.quantite }}
	<div>
</font>	
</form>
        <script
   src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
{% endblock %}