table{color:#333;font-size:16px}
.tborder{background:#fff;width:100%;margin:auto auto;border:2px solid #ccc;padding:1px}
td {background:#4CAF50;border:1px solid}
th{background:#f5f5f5;border:1px solid;border-color:#fff #ddd #ddd #fff}
